<p>Anzahl ausgewählte Spieler: {{selectedPlayers.length}}</p>

<md-select [(ngModel)]="numberOfCourts">
    <md-option [value]="2">2 Plätze</md-option>
    <md-option [value]="3">3 Plätze</md-option>
    <md-option [value]="4">4 Plätze</md-option>
</md-select>
<br>
<button md-raised-button color="primary" (click)="shuffle()">Shuffle!</button>

<fieldset *ngFor="let i of courts">
    <legend>Platz {{i + 1}}</legend>
    <md-list dense>
        <md-list-item *ngFor="let player of getPlayersPerCourt(i)">
            {{player.name}}
        </md-list-item>
    </md-list>
</fieldset>

<fieldset *ngIf="getPlayersForTheBench().length" class="bench">
    <legend>Bank</legend>
    <md-list dense>
        <md-list-item *ngFor="let player of getPlayersForTheBench()">
            {{player.name}}
        </md-list-item>
    </md-list>
</fieldset>